<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="container">
          <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
          </a>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>
      </header>

      <nav>
        {% for category in site.categories %}
          {% assign category_name = category | first %}
          <a href="/{{ category_name }}" 
             class="nav-link {% if page.category == category_name %}active{% endif %}">
            {{ category_name | capitalize }}
          </a>
        {% endfor %}
        <a href="/about/" 
           class="nav-link {% if page.url == '/about/' %}active{% endif %}">
          About
        </a>
      </nav>

      <div class="container">
        <section id="main_content">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </section>
      </div>
    </div>
  </body>
</html>